._7fb8{height:26px;max-width:80px}
._5v_d button{min-width:30px}
.sp_31cuRYDavvF{background-image:url(/rsrc.php/v3/y7/r/DEMhR7k35j-.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_31cuRYDavvF.sx_ce992b{background-position:0 0}.sp_31cuRYDavvF.sx_d56233{background-position:0 -17px}

#bootloader_gfNrK{height:42px;}.bootloader_gfNrK{display:block!important;}